{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div id="container" class="container w-25 mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="{{ path('urls') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Register</li>
            </ol>
        </nav>
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        {{ form_start(registrationForm) }}
        <div class="form-group">
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
        </div>
        <input class="btn btn-primary" type="submit">
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
